<footer class="bg-black text-white py-2 text-center">
  <p class="">
    <span class="fw-bold">&copy 2024 Nodejs</span> | Lorem, ipsum dolor sit amet
    consectetur adipisicing elit. Architecto, animi?
  </p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
