<header class="position-sticky top-0 z-3">
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container position-relative">
      <div class="logo">
        <a href="/" class="navbar-brand"
          ><img
            src="https://th.bing.com/th/id/OIP.iNTx68dnhRZp9HYIrbHxcgHaHa?w=219&h=219&c=7&r=0&o=5&pid=1.7"
            alt="Logo"
            class="w-25 rounded-circle"
        /></a>
      </div>
      <!-- menu -->

      <button
        type="button"
        class="navbar-toggler d-xl-none"
        data-bs-toggle="collapse"
        data-bs-target="#menu"
        aria-controls="menu"
        aria-expanded="false"
        aria-label="Mostrar / ocultar Menu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- nav list -->
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              aria-expanded="false"
              role="button"
              data-bs-toggle="dropdown"
              id="dropdown-menu"
              >Productos</a
            >

            <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
              <li><a href="#" class="dropdown-item">LapTop</a></li>
              <li><a href="#" class="dropdown-item">TV 2</a></li>
              <li><a href="#" class="dropdown-item">Nuevos productos</a></li>
              <li><a href="#" class="dropdown-item">iphone 13</a></li>
              <li><a href="#" class="dropdown-item">Telefono Samsuns</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="contact/" class="nav-link">Contacto</a>
          </li>
          <form action="" class="d-flex">
            <input type="search" name="" id="" class="form-control me-2" />
            <button type="button" class="btn-primary btn">Buscar</button>
          </form>
        </ul>
      </div>
    </div>
  </nav>
</header>
